.lightToggleContainer {
    width: 7vmin;
    height: 3.5vmin;
    border-radius: 2vmin;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 1.5s;
}

.toggleButton{
    width: 2.5vmin;
    height:2.5vmin;
    border-radius: 50%;
    position: absolute;
    left: 3.8vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1.5s;
    animation: none;
    z-index: 1
}

.lightToggleContainer:hover{
    cursor: pointer;
}

.toggleEyes{
    background-color: var(--dark_base);
    height: 2vmin;
    width: 2vmin;
    border-radius: 50%;
    animation: none
}


@keyframes togglemoveleft {
    0%{
        left: 3.8vmin;

    } 100% {
        left: 0.5vmin;
    }
}

@keyframes togglemoveright {
    0%{
        left: 0.5vmin;

    } 100% {
        left: 3.8vmin;
    }
}

@keyframes eyeSlit {
    0%{
        transform: scaleX(1);

    } 100% {
        transform: scaleX(0.3);
    }
}

@keyframes eyeWiden {
    0%{
        transform: scaleX(0.3);

    } 100% {
        transform: scaleX(1);
    }
}

.moon{
    width: 2.15vmin ;
    height: 2.15vmin ;
    background-color: transparent ; 
    box-shadow: inset 0.75vmin -0.5vmin var(--dark_base) ;
    border-radius: 5vmin ;
    position: absolute;
    right: 0.5vmin;
    transition: opacity 1s;
}

.sun{
    color: var(--light_base);
    width: 2.25vmin;
    height: 2.25vmin;
    fill: var(--dark_base);
    position: absolute;
    left: 0.5vmin;
    transition: opacity 0.25s;
}

