@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --light_base : #FFFAF1;
    --light_orange: #FFDFAE;
    --dark_base: #181818;
    --dark_gray: #949494;
    --dark_brown: #413f3c;
    --eye_orange: #F8CB74;
}

body{
    transition: background-color 1.5s ease;
    overflow-x: hidden;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}
  
p {
    color: var(--dark_base);
    transition: color 1.5s ease;
    font-family: 'Lato';
    cursor: default;
}

.dark_mode p {
    color: var(--light_base);
}

a {
    color: var(--dark_base);
    transition: color 1.5s ease;
    font-family: 'Lato';
}


.dark_mode a {
    color: var(--light_base);
}